#rightone {
    background-color: aqua;
}
#leftone {
    background-color: beige;
    height: 90vh;
}
#width_value {
   margin-left: 80px;
    margin-top: 7vh;
    text-align: center;
    position: absolute;
    background-color: aqua;
}
#height_value {
    margin-left: 3vw;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(270deg);	
-moz-transform: rotate(270deg);
-ms-transform: rotate(270deg);
-o-transform: rotate(270deg);
transform: rotate(270deg);
}

#backgrounds {
    position: relative;
    margin: 6vw;
    width: 900px;
    height: 400px;
    background-color: white;
    padding: 14px 20px;
    line-height: 45px;
    max-width: 990px;
    background-position: 0 1px;
    background-size: 30px 30px;
    background-image: -webkit-repeating-linear-gradient(0deg, #80DFFF, #80DFFF 1px, transparent 1px, transparent 40px), -webkit-repeating-linear-gradient(90deg, #80DFFF, #80DFFF 0.5px, transparent 1px, transparent 40px);
    background-image: repeating-linear-gradient(0deg, #80DFFF, #80DFFF 1px, transparent 1px, transparent 40px), repeating-linear-gradient(90deg, #80DFFF, #80DFFF 0.5px, transparent 1px, transparent 40px);
}
#error {
    font-size: 1vw;
    font-weight: 800;
    color: red;
}
.pion_elements {
    display: inline;
}
#error2 {
    font-size: 1vw;
    font-weight: 800;
    color: red;
}
#1_image {
    
}
.span_down {
    
    left: 0;
    background-color: bisque;
    
}
.span_left {
    
    left: 0;
    background-color: aqua;
}
#1_div {
   display: inline-block;
    padding: 15px;
    border: 2px solid red;
    margin: 0;
    white-space:0;
}
#2_div {
   display: inline-block;
    padding: 15px;
    border: 2px solid red;
    margin: 0;
    white-space:0;
}
#1img {

}
#2img {
    
}
#sec_el {
    background-color: aqua;
}
#width_elvalue {
    position: fixed;
    margin-top: 90px;
    
    
 
}
